/*@media (max-width: 1024px) and (orientation : landscape) {*/
@media (max-width: 1024px) {
	#container {
		width: 60em;
	}
	#content {
		width: 100%;
	}
	#sidebar {
		width: 60rem;
		text-align: center;
		border: none;
	}
	.widget-sidebar {
		float: left;
		width: 100%;
	}
	#sidebar ul, #sidebar ul li {
		width: 100%;
		float: left;
		clear: both;
		text-align: center;
	}
}